<!DOCTYPE html>
<html lang="en">

<head>
    {{>header_links}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/sde.png" alt="thapa" title="thapatechnical" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather API Application</p>
                        <h1>I am a <span class="txt_clr">Mern Stack Developer</span>, Software Developer Engineer</h1>
                        <a href="https://www.linkedin.com/in/prateek-rana-935b0b22b/" target="_thapa"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            Created With ❤ By Prateek Rana      2023
        </p>
</footer>
</body>

</html>

















